* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    font-size: 16px;
}

.title {
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 2rem;
}
.title::after {
    content: "";
    width: 30%;
    height: 3px; /* Độ dày của đường kẻ */
    display: block;
    background-image: linear-gradient(to right, #317923, #FDCE26); /* Gradient từ xanh lá sang vàng */
}

.line__fi::after {
    content: '';
    width: 0%;
    height: 3px;
    display: block;
    background-image: linear-gradient(to right, #317923, #FDCE26); /* Gradient từ xanh lá sang vàng */
    transition: all .5s;
}
.line__fi:hover::after {
    width: 100%;
}
.badge {
    font-size: 0.7rem;
    padding: 5px 6px;
}
.move__it {
    transform: translate(-150%,0%);
}


a {
    text-decoration: none;
    color: black;
}


.section {
    margin-bottom: 5rem;
}

.my-btn {
    background-color: #317923;
    padding: 5px 20px;
}

/* Header */
header {
    margin-bottom: 1rem;
}
.myheader .nav-link {
    font-weight: 500;
    margin-right: 1rem;
    color: black;
}

.myheader .nav-link.active {
    color: #fdc703;
}

.header__category a {
    font-weight: 500;
    margin-right: 1rem;
    transition: all .5s;
}
.header__category a:hover {
    color: #317923;
}

/* Footer */
.footer {
    padding: 20px 0;
    color: black;
}





.footer__col h5 {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 10px;
}
.footer__col img {
    width: 180px;
    height: 40px;
    margin-bottom: 1rem;
}
.footer__col p {
    margin: 0;
    margin-bottom: 0.5rem;
}

.footer__col ul {
    list-style: none;
    padding: 0;
}

.footer__col ul li {
    margin-bottom: 5px;
}

.footer__col ul li a {
    text-decoration: none;
    color: black;
    transition: all .5s;
}

.footer__col ul li a:hover {
    color: #317923;
}

/* Mạng xã hội */
.footer__social {
    margin-top: 10px;
}

.footer__social a {
    font-size: 30px;
    margin-right: 10px;
    color: black;
    text-decoration: none;
    transition: all .5s;
}

.footer__social a:hover {
    color: #317923;
}

/* Responsive */
@media (max-width: 991.98px) {
    .icon__search {
        display: block !important;
    }
    #myform {
        display: none !important;
    }
}
@media (max-width: 767.98px) {
    .icon__search {
        display: none !important;
    }
    #myform {
        display: block !important;
    }
    #myform input{
        margin-bottom: 1rem;
    }
}
@media (min-width: 992px) {
    .icon__search {
        display: none !important;
    }
    #myform {
        display: flex !important; /* Đảm bảo form không bị ẩn */
    }
}
