* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 16px;
}


/* Notification Section */
.notification-section {
    padding: 2rem 0;
}

.notification-panel {
    background: #fff;
    border-radius: 10px;
    padding: 1.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 70%;
    margin: 0 auto;
}

.notification-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.notification-subtitle {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 1rem;
}

.notification-tabs {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.tab {
    background: none;
    border: none;
    padding: 0.5rem 1rem;
    font-weight: 700;
    cursor: pointer;
    margin-right: 1rem;
    color: #333;
    font-size: 1.25rem;
}

.tab.active {
    color: #317923;
    border-bottom: 2px solid #317923;
    font-size:1.25rem;
}


.badge {
    background-color: #ff4d4d;
    color: #fff;
    border-radius: 50%;
    padding: 0.2rem 0.5rem;
    font-size: 0.8rem;
    margin-left: 0.3rem;
}

.mark-all-read {
    margin-left: auto;
    color: #317923;
    text-decoration: none;
    font-weight: 700;
    transition: all .3s;
    font-size: 1.3rem;
}

.mark-all-read:hover {
   color: rgb(254, 190, 0);
}

.notification-content h3 {
    font-size: 1.1rem;
    color: #333;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.notification-item {
    display: flex;
    align-items: center;
    padding: 0.75rem 0;
    border-bottom: 1px solid #eee;
}

.notification__item{
    margin-right: 1.5rem;
}
.notification__item i{
    font-size: 1.5rem;
    color: green;
}



.notification-icon {
    font-size: 1.5rem;
    margin-right: 1rem;
}

.notification-details p {
    margin: 0;
    font-size: 1.25rem;
    color: #333;
}

.notification-meta {
    display: block;
    font-size: 0.8rem;
    color: #666;
}

@media screen and (max-width: 991.98px) {
    .notification-panel {
        max-width: 100%;
    }
    
}
@media screen and (max-width: 767.98px) {
    .notification-tabs {
        display: block;
    }
    .notification-tabs button, .notification-tabs a {
        display: block;
    }
    .notification-tabs a {
        display: block;
    }
}



