.filter-title {
    font-weight: bold;
    font-size: 1.2rem;
}

.product-card img {
    object-fit: cover;
    height: 200px;
    width: 100%;
}

.product-info {
    padding: 1rem;
    background-color: #f9f9f9;
    border-top: 1px solid #ddd;
}

.product-info h3 {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

.product-info p {
    margin-bottom: 0.5rem;
}

.price {
    font-weight: bold;
    color: #007bff;
}

.rating i {
    color: gold;
}
.filter-section ul li {
    list-style: none;
    padding: 0.5rem 0;
}
   

.filter-section ul li i {
    color: gold;
}
