

/* User */


.user__row .col-3 {
    margin-right: 1rem;
    padding-right: 1rem;
    border-right: 1px solid #dee2e6;
}
.user .user__information {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user .user__information h3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}
.user__avatar {
    background-color: #c7c8c8;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.user__status {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.user__status i {
    color: #FDCE26;
    font-size: 2rem;
    margin-right: 1.5rem;
}

.user__status p {
    margin: 0;
    font-weight: bold;
    font-size: 1rem;
    color: #FDCE26;
}

.user__register {
    background-color: #317923;
    padding: 10px;
    border: 2px solid #317923;
    border-radius: 10px;
    transition: all .5s;
    cursor: pointer;
    color: white;
}
.user__register:hover {
    background-color: white;
    color: #317923;
}
.user__register p {
    margin: 0;
    font-weight: bold;
}

.user__item {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: all .5s;
}
.user__item:hover {
    background-color: #f2f2f2;
}

.user__item i {
    font-size: 1.5rem;
    margin-right: 1rem;
    color: #317923;
}
.user__item a {
    text-decoration: none;
    color: #317923;
}
.user__item p {
    margin: 0;
    color: #317923;
}

.user__avatar__change {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    flex-direction: column;
    padding-top: 3rem;
}

.user__avatar__change .user__avt__display img {
   
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 1rem;
}

.user__avatar img {
    border-radius: 50%;
}

.user__avatar__change button {
    color: white;
    background-color: #317923;
    border-radius: 50px;
    border: 2px solid #317923;
}
.user__avatar__change button:hover {
    color: #317923;
    background-color: white;
    border: 2px solid #317923;
}

.user__form label {
    font-weight: 600;
    margin-bottom: 0.5rem;
}
.form__item {
    margin-bottom: 1rem;
}

.form__group .col-8 {
    margin-right: 1rem;
}
.form__group .col-3 {
    border: none;
    padding: 0;
    margin: 0;
}
.form__group .col-3 select{
    width: 100%;
    padding: 7px;
    background-color: #e9ecef;
    border-radius: 10px;
    border: none;
}



/* Responsive */
@media (max-width: 991.98px) {
   
    #user__tab {
        display: none;
    }
}
@media (max-width: 767.98px) {
   
    .user__tab__item p {
        display: none;
    }
}
@media (min-width: 991.98px) {
    
    .user__responsive {
        display: none;
    }
}

